* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  font-family: sans-serif;
}

/* No tocar si no quieren organizar
como un cara de verga*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
}

.Empresa1 {
  border-radius: 25px;
  width: 100px;
  height: 100px;
}

.Titulo {
  font-size: 90px;
  margin-left: 10px;
}

.Interaccion {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}

.Usuario {
  border-radius: 100px;
  width: 45px;
  height: 45px;
  margin-left: 8px;
  margin-right: 20px;
}

.main{
    font-size: 40px;
    text-align: center;
}