* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: skyblue;
  font-family: sans-serif;
}

/* No tocar si no quieren organizar
como un cara de verga*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
}

a:visited{
  color: #111;
}
.Empresa1 {
  border-radius: 25px;
  width: 100px;
  height: 100px;
}

.Titulo {
  font-size: 90px;
  margin-left: 10px;
}

.Interaccion {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}

.Usuario {
  border-radius: 100px;
  width: 45px;
  height: 45px;
  margin-left: 8px;
  margin-right: 20px;
}

/* Esta medida me queda bien en la tablet
mia */
@media (max-width: 1024px) {
  .Empresa1 {
    width: 70px;
    height: 70px;
  }

  .Titulo {
    font-size: 55px;
  }

  .Interaccion {
    font-size: 20px;
    gap: 15px;
  }

  .Usuario {
    width: 35px;
    height: 35px;
  }
}

/*Mi celular va bien, probar en otros celulares*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 15px 10px;
  }

  .Empresa1 {
    width: 60px;
    height: 60px;
  }

  .Titulo {
    font-size: 38px;
    margin-left: 0;
  }

  .Interaccion {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
    gap: 12px;
  }

  .Usuario {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
}


/*###############################################
Lo mismo de arriva, esto es para el MAIN
donde van las eliculas
#################################################*/
.contenedor-peliculas {
  max-width: 1400px;
  width: 60%;
  margin: 50px auto 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 25px;
  padding: 30px;
  margin-top: 0px;
}

.tarjeta-pelicula {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}

.tarjeta-pelicula:hover {
  transform: scale(1.1);
}


.titulo-pelicula {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

/*Mi tablet*/
@media (max-width: 1024px) {
  .contenedor-peliculas {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    padding: 20px;
  }


  .titulo-pelicula {
    font-size: 16px;
  }
}

/*Celular*/
@media (max-width: 768px) {
  .contenedor-peliculas {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 15px;
    padding: 15px;
  }


  .titulo-pelicula {
    font-size: 14px;
  }
}